body {
  background-color: whitesmoke;
}

button {
  margin: auto;
  height: 30px;
  width: 150px;
}

input {
  margin: auto;
  height: 20px;
  width: 145px;
}

h3 {
  margin: auto;
  color: blue;
  padding-bottom: 10px;
}

#result-div {
  margin-top: 5px;
  font-weight: bold;
}